
.main{
    background-image:linear-gradient(to bottom right,#3399FF,azure) ;
    height:100vh;
}
.main1{
    display: flex;
    justify-content: center;

}
form{
    margin-top: 150px;
    width:500px;
    box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
    padding:20px 20px 30px 20px;
    border-radius: 20px;
    color:azure;
    font-style: italic;
}
.btn{
    width:460px;
}
.content h3{
    display:flex;
    justify-content: center;
}
.content h5{
    display:flex;
    justify-content: center;
}
.form-group{
    margin-top:20px;
}
form h6{
    display: flex;
    justify-content: center;
    margin-top:10px;
}