<div class="main">
    <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><b>AgileStory</b></a>
            <button class="btn  btn1 btn-primary" routerLink="/login"><b>SignUp</b></button>
            <button class="btn btn-primary" routerLink="/signin"><b>SignIn</b></button>
        </div>
    </nav>
<div class="main2">
    <div class="mian21">
        <h1>Get User Stories On Easy Mode.</h1><br>
    </div>
</div>
<div class="main3">
    <h4>Write a sentence explaining Your Feature and AgileStory creates the user story for you in seconds.</h4>
</div>
<div class="main4">
    <button class="btn btn-primary" routerLink="/emailsignin"><b>Get Started</b></button>
</div>
<div class="main5">
    <h4>Why Start From Scratch?</h4>
</div>
<div class="main5">
    <h2><b>We Will Bring These Features</b></h2>
</div>
<div class="main6">
<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem; height:20rem;">
            <div class="card-body">
              <h5 class="card-title">USER STORY GENERATOR</h5>
              <img src="../../assets/code.svg" alt="image" height="80px" width="80px">
              <p class="card-text">Write a sentence and AgileStory generates the user story and acceptance criteria for you! Save hundreds of hours and get uniform User Stories across your organization.
            </p>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem; height:20rem;">
            <div class="card-body">
              <h5 class="card-title">FEATURE LISTS GENERATOR</h5>
              <img src="../../assets/featured-list-generator.svg" alt="image" height="80px" width="80px">
              <p class="card-text">Explain your application in a few sentences, and AgileStory generates the users and feature list for you.</p>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem; height:20rem;">
            <div class="card-body">
              <h5 class="card-title">AI POWERED</h5>
              <img src="../../assets/ai-powered.svg" alt="image" height="80px" width="80px">
              <p class="card-text">We've trained our model with thousands of user story examples to help generate the highest quality results.  Fine tune our models to generate User Stories exactly as you need them.
            </p>
            </div>
          </div>
      </div>
    </div>
</div>
</div>
<!-- <div class="stars">

</div>
<div class="twinkling">

</div>
<div class="clouds">

</div> -->